<div
  id="auth-modal"
  class="hide"
  data-modal=""
  data-tab-container="auth"
>
  <div class="tabs">
    <button class="active" data-tab="login">Login</button>
    <button data-tab="register">Register</button>
  </div>
  <div class="tab" data-tab="login">
    <form id="login-form" data-form>
      <div class="field">
        <label for="login-uuid">UUID or Username</label>
        <input type="text" id="login-uuid" placeholder="Please enter your UUID or Username" name="uuid" />
      </div>
      <div class="field">
        <label for="login-password">Password</label>
        <input type="password" id="login-password" placeholder="Please enter your password if you have one" name="password" />
      </div>
      <div class="field-submit">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  <div class="tab" data-tab="register"></div>
</div>
